<div class="cont">
    <mat-card>
        <mat-card-title>add faculty </mat-card-title>
        <mat-card-content>
            <form [formGroup]="AddFormFaculty" autocomplete="off">
                <div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>faculty name</mat-label>
                            <input matInput formControlName="facultyName" placeholder="facultyname" value="facultyname">
                        </mat-form-field>
                    </div>
                </div>
               
            </form>
            <div> <button mat-raised-button color="primary" (click)="Onadd()">add</button></div>
        </mat-card-content>
    </mat-card>
    
</div>