<div class="hom">
   <div style="color:white" class="d-flex p-2" >
    <h1>Dashboard</h1>
   </div>
</div>
<hr>
<div class="head">
    <div style=" color: white;"  class="d-flex p-2">
        <h2 >Election Data Center</h2>
    </div>
</div>
<div class="content">
  
        <div class="d-flex flex-nowrap p-2 justify-content-between">
            <div class="card col-md-5 conf">
                <div class="card-body ">
                    <h4><b>Voters</b></h4>
                    <hr>
                    <span class="card-icon"><i class="fa fa-users"></i></span>
                    <div class="d-flex justify-content-end">
                        <h3 class="text-right"><b>{{voters.length}}</b></h3>
                    </div>
                </div>
            </div>
           
            <div class="card col-md-5 conf2">
                <div class="card-body">
                    <h4><b>Voted</b></h4>
                    <hr>
                    <span class="card-icon2 def"><i class="fa fa-user"></i></span>
                    <div class="d-flex justify-content-end">
                        <h3 class="text-right"><b>0</b></h3>
                    </div>
                </div>
            </div>
        </div>
    
</div>
<div class="cont">
    
    <!-- <div class="row mt-3 ml-3 mr-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h3><b>Student election</b></h3>
                        <small><b></b>SUZA</small>
                    </div>
                    <hr>
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3><b>Presidant</b></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="candidate" style="position: relative;">
                            <div class="img-field">
                                <img src="" alt="">
                            </div>
                            <div class="candidate_name">Adhra</div>
                            <div class="vote-field">
                                <span class="badge badge-success">
                                    <b>Joo</b>
                                </span>
                            </div>
                        </div>

                        

                    </div>

                </div>
            </div>

        </div>
    </div> -->
</div>

