
span.card-icon {
position: relative;
font-size: 3em;
bottom: .2em;
color: red;
}

span.card-icon2.def {
    position: relative;
    font-size: 3em;
    bottom: .2em;
    color: blue;
}

.hom{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: gray;
    border-radius: 25px;
}
.head{
    
    height: 50px;
    background-color: rgb(41, 115, 184);
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   
}
.content{
    
    border: 2px solid rgb(71, 71, 243);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  
}
.conf{
    background-color: rgb(255, 205, 196);
    color: red;
}

.conf2{
    background-color: rgb(191, 236, 250); 
    color:blue;
}