<div class="cont">
    <mat-card>
        <mat-card-title>add campus</mat-card-title>
        <mat-card-content>
            <form [formGroup]="AddForm" autocomplete="off">
                <div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>campus name</mat-label>
                            <input matInput formControlName="campusName" placeholder="campusname" value="campusname">
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div> <button mat-raised-button color="primary" (click)="Onadd()">add</button></div>
        </mat-card-content>
    </mat-card>
</div>

